* {
  color: inherit;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo {
  position: relative;
  height: 50px;
  width: 50px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.navbar .container, .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(5, 0, 0, 0.1);
}

.ml-1 {
  margin-left: 0.75rem;
}

.br {
  border-radius: 20px;
}

.br-full {
  border-radius: 50%;
}

.display-f {
  display: flex;
}