@use "sass:math";
@use "breakpoints" as *;

$grid-columns: 12;
$grid-gap: (
  "0": 0,
  "1": 10px,
  "2": 20px,
  "3": 30px
);

$layout-values: flex-start, flex-end, center, space-between, space-around;

//base layout classes
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

//grid-gap
@each $key, $val in $grid-gap {
  .gap-#{$key} > * {
    padding: $val;
  }

  .gap-#{$key} {
    margin-left: -$val;
    margin-right: -$val;
  }
}

//justify content classes
@each $val in $layout-values {
  .justify-#{$val} {
    justify-content: $val;
  }
}

//col classes
@mixin breakpoint($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}